a{color:#000;}
@charset "utf-8";
/* CSS Document */
body{ width:100%;background:#eee; margin:0;padding:0;font-family:"微软雅黑"; position:relative;height: 100%;}
html{ width:100%;height: 100%;}
a{ text-decoration:none;font-family:"微软雅黑";}
li{ list-style:none;}
div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-family:"微软雅黑"; font-weight:normal;}
img{ border:medium none;}

.link-bottom{
	border-bottom: 1px dotted #ee7900;
}

/*===登录、注册、找回密码===*/
.b-bg-tm-div{ width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.5); z-index:999;}
.login-bg-div{ width:400px; padding:50px 100px;background:#fff; margin:200px auto 0;}
.login-bg-div-top{ text-align:center;}
.login-b-t{ padding:0 50px;border-bottom:1px solid #ddd; height:50px; margin-top:30px;}
.login-b-t-con a{ display:block; float:left; font-size:16px; color:#999; height:48px; line-height:48px;margin-right: 45px;}
.login-b-t-con .r{ /*float:right;*/margin-right: 90px;}
.login-b-t-con a:hover{ border-bottom:2px solid #bbb; color:333;}
.login-b-t-con .this{ border-bottom:2px solid #bbb; color:333;}

.login-b-b-wx{ text-align:center; margin-top:40px;}
.login-b-b-wx img{ padding:10px; border:1px solid #ddd;}

.login-b-b-qt{ padding:0 50px; margin-top:40px;}
.login-b-b-qt .in-text{width:300px;height:40px;color:#999;border:solid 1px #dcdcdc;background:#ffffff;box-sizing: border-box;overflow: hidden;padding:0 10px;border-radius:4px;line-height:40px;vertical-align: middle;font-family:"微软雅黑"; margin-bottom:20px;}
.login-b-b-qt .btn{border:none;background:#f39a00;color:#ffffff;font-size:18px;cursor:pointer;}
.login-b-b-qt .btn:hover{ background:#ee7900;}
.login-b-b-qt p .wja{font-size:14px; float:right; color:#555;}
.login-b-b-qt p .wja:hover{ color:#f39a00;}
.login-b-b-qt p{font-size:14px;color:#555;}
.login-b-b-qt p a{color:#f39a00; }
.login-b-b-qt p a:hover{ text-decoration:underline;}
.qt-zh-dl{ padding:0 50px; margin-top:20px;}
.qt-zh-dl p{ font-size:18px; color:#666; padding-top:16px; border-top:1px dashed #ccc;}
.icon-a-dl a{background:#FCC;display:block; width:60px; height:60px;float:left;margin-top:20px;}
.icon-a-dl .wx{background:url(/r/cms/www/default/images/wx-icon.png) no-repeat 0 -60px;}
.icon-a-dl .wb{background:url(/r/cms/www/default/images/wb-icon.png) no-repeat 0 -60px;margin:20px 60px 0; display:inline-block;}
.icon-a-dl .qq{background:url(/r/cms/www/default/images/qq-icon.png) no-repeat 0 -60px;}
.icon-a-dl a:hover{ background-position:0 0;}




/*===返回顶部===*/
.r-b-div{ width:50px; height:auto;border:1px solid #ddd;border-bottom:none; position:absolute;bottom:300px; right:200px;}
.r-b-div ul li a{ display:block; width:50px; height:50px;border-bottom:1px solid #ddd;}
.r-b-div ul li .top{ background:#fff url(../images/top.png) no-repeat;}
.r-b-div ul li .ewm{ position:relative;background:#fff url(../images/ewm.png) no-repeat;}
.r-b-div ul li{ position:relative;}
.r-b-div ul li .ewm-div-xs{ position:absolute;top:-110px; left:-170px; background:#fff; z-index:100;}
.r-b-div ul li .ewm-div-xs img{padding:10px; border:1px solid #ddd;}



/*=====头部=====*/
.common-header {
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;   
  width: 100%;
  background: #fff;
  height: 100px;
  z-index: 999;  
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  }
.common-headerPhone {
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;   
  width: 1100px;
  margin:0 auto;
  background: #fff;
  height: 100px;
  z-index: 999;  
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  }
.common-header-div{width:1100px; margin:0 auto;}
.logo-div{ float:left; }
.nav-div{ float:left;}
/*.nav-div ul{ margin-top:40px;}*/
.nav-div ul li{ float:left;font-size:18px; color:#333; line-height:100px;font-family:"方正正黑简体"}
/*.nav-div ul li a{ color:#ed7621;float:left; font-size:18px; padding-right:18px;}*/


.sousuo-div{ float:right; margin-top:32px;}
.sousuo-div .in-text{
  width:360px;
  height: 36px;
  float: left;
  color:#999;
  border: solid 1px #dcdcdc;
  border-right: 0;
  background: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  padding:0 10px;
  border-radius: 4px 0 0 4px;
  line-height: 36px;
  vertical-align: middle;
  font-family:"微软雅黑";}
  .sousuo-div .in-text-in{ width:260px;}
.sousuo-div .in-text-a{
  width:460px;
  height: 36px;
  float: left;
  color:#999;
  border: solid 1px #dcdcdc;
  border-right: 0;
  background: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  padding:0 10px;
  border-radius: 4px 0 0 4px;
  line-height: 36px;
  vertical-align: middle;
  font-family:"微软雅黑";}
  .sousuo-div .in-text-in{ width:260px;}
.sousuo-div input{ 
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  border:none;
  background: #f39a00 url(../images/search.png) no-repeat;
  border-radius:0 4px 4px 0;
  color: #ffffff;
  vertical-align: middle;
  font-size: 18px;
  cursor:text;
  }
.nav-r-div{ float:right;}
.nav-r-div-ul{ height:18px; position:relative;}
.nav-r-div-ul li{ float:left;font-size:24px;color:#666;margin-left:36px;}
.z_p_d{ float:right; margin-right:30px;}
/*.z_p_d a{ display:block; float:left; margin-right:26px;width:66px;height:34px;text-align:center; line-height:36px;border:1px solid #f39900; font-size:14px; color:#555; border-radius:4px; margin-top:32px;}*/
.z_p_d a{ display:block; float:left; margin-right:42px;letter-spacing:1px;text-align:center;line-height:46px;font-size:18px;margin-top:20px;}
/*.z_p_d a:hover{background:rgba(243,153,0,1); border:1px solid #f39900; color:#fff;}*/
.nav-r-div-ul li a{ font-size:16px; color:#666; display:inline-block;}
.nav-r-div-ul li a:hover{ color:#000;}
.nav-r-div-ul li .xiaoxi{ background:url(../images/xiaoxi.png) no-repeat left; padding-left:30px;}
.nav-r-div-ul li .xiaoxi,.nav-r-div-ul li .dla,.nav-r-div-ul li .zca{ margin-top:42px;}
.nav-r-div-ul li .name-a{display:block;float:left;height:100px; line-height:100px; padding-right:0;font-family:"΢���ź�";}
.nav-r-div-ul li .name-a img{ display:inline-block; width:40px; height:40px; float:left; margin-right:6px; margin-top:30px; border-radius:50px;}
/*==昵称下拉==*/
.name-div{min-width:30px; min-height:30px;background:#FfF; border:1px solid #dcdcdc;position:absolute;top:100px;right:0;}
.name-div .name-ul li{ margin:0;float:none; text-align:left; padding:6px 15px;}
.name-div .name-ul li:hover{ background:#f3f3f3; cursor:pointer;}
.name-div .name-ul li a{ color:#666;font-size:14px;font-family:"微软雅黑";}

.head-a-underline{border-bottom:2px solid #f39300;}

/*=====图片部分=====*/
.img-div{width:1100px; margin:5px auto;}
.img-div-l{float:left; margin-right:10px;width:650px;height:360px;overflow:hidden;}
.img-div-l,.img-div-r-t,.img-div-r-b-l,.img-div-r-b-r,.xt-con-div{ position:relative;}
.img-div-l h3,.img-div-r-t h3,.img-div-r-b-l h3,.img-div-r-b-r h3,.xt-con-div h3{ padding:0 2%; width:96%;line-height:40px;background:rgba(0,0,0,0.4); position:absolute; bottom:0;}
.img-div-l h3 a,.img-div-r-t h3 a,.img-div-r-b-l h3 a,.img-div-r-b-r h3 a,.xt-con-div h3 a{ font-size:16px; color:#fff; font-weight:normal;font-family:"微软雅黑";}
.img-div-r{ width:440px;float:right;}
.img-div-r-t{ margin-bottom:10px;width:440px;height:180px;overflow:hidden;}
.img-div-r-b-l{ float:left;width:215px;height:170px;overflow:hidden;}
.img-div-r-b-r{ float:right;width:215px;height:170px;overflow:hidden;}
.img-bq{ position:absolute;top:0; left:0; padding:4px 10px; color:#fff;}
.hd-bg{ background:#E7BE01;}
.px-bg{ background:#2776db;}
.bg-bg{ background:#00aeb7;}
.tl-bg{ background:#70bd6b;}


/*====页面内容(文章)===*/
.mainbody-div{width:1100px;margin:20px auto 30px;}

/*==左边文章内容==*/
.main-div-l{width:750px;float:left;}
.main-div-l .wz-div{/*width:690px;*/padding:20px 30px; background:#fff; margin-bottom:20px;}
.wz-div p{color: #666;font-size: 16px;line-height: 32px;margin:0px 0px 20px 0px;}
.wz-div h2{line-height:40px;margin-bottom:3px;font-size:22px;overflow:hidden;text-overflow:ellipsis; font-weight:normal;}
.wz-div h2 a{ color:#333;}
.wz-div h2 a:hover{color:#df6812;}
.wz-div h2 a:hover{ color:#ed7621;}
.nametime{ height:30px; line-height:30px;}
.nametime p{ float:left;font-size:14px; color:#666;}
.nametime p a{ color:#ed7621;}
.nametime p a:hover{ color:#df6812;}
.nametime p span a{color:#333;}
.nametime p span a:hover{ color:#df6812;}

.nametime ul{ float:right;}
.nametime ul li{ float:left;}
.nametime ul li a{ color:#333; padding-left:5px; font-size:14px;}
.nametime ul li a:hover{ color:#df6812}
.wz-div-img{width:690px;height:280px;overflow:hidden;margin:10px 0; position:relative;}
.wz-div-text{ height:72px;line-height:24px; overflow:hidden;}
.wz-div-text a{ font-size:14px; color:#666;}
.wz-div-text a:hover{ color:#f39900;}
.qw-a{color:#ed7621;}
.qw-a:hover{color:#df6812;}


.wz-xq-div{height:auto;}
.wz-xq-div p{color:#666;font-size:16px; line-height:32px;margin:0px 0px 20px 0px;}
.wz-xq-div p a{color:#666;font-size:16px; line-height:32px;}
.sp-div{ width:500px; background:#FFC;padding:10px 0; margin:20px auto;}
.sc-bq-div{margin:20px 0;}
.sc-bq-div a{ display:inline-block; float:left; margin-right:20px;}
.sc-bq-div .scfx-a{padding:4px 10px; background:#ed7621; color:#fff; font-size:14px;}
.sc-bq-div .scfx-a:hover{ background:#df6812; color:#fff;}
.sc-bq-div .icona{ width:32px; height:32px;background:url(../images/iconqq.png) no-repeat;} 
.sc-bq-div .fx-wx-a{ background-position:0 -208px;}
.sc-bq-div .fx-wb-a{ background-position:0 -156px;}
.sc-bq-div .fx-kj-a{ background-position:0 -104px;}
.sc-bq-div .fx-sx-a{ background-position:0 -52px;}
.sc-bq-div .fx-gd-a{ background-position:0 0;}


.sm-div{ border:1px dashed #e9e2ac; background:#fff9e7; color:#e3a944; line-height:26px; font-size:14px; padding:6px 20px;}
.sm-div span{ font-weight:bold;}

/*==相关文章==*/
.xgwz-div{ height:auto; margin:10px 0;}
.xgwz-div h3{ font-size:20px; color:#555;margin-bottom:10px;}
.xgwz-div h3 a{ float:right; padding-left:18px;background:url(../images/sx.png) no-repeat left;}
.xgwz-con{padding:15px 3px; border:1px solid #ddd;margin-top:10px;}
.xgwz-con dl{ width:220px;float:left; margin:0 3px;}
.xgwz-con dl dt{ width:220px;height:90px;}
.xgwz-con dl dt img{ display:inline-block; width:100%;height:100%;}
.xgwz-con dl dd{ height:40px; overflow:hidden;margin-top:10px;line-height:20px;width: 225px;}


.pl-div textarea{ width:690px; line-height:24px;margin-top:20px;border:1px solid #ddd;font-family:"微软雅黑";background:#fff;font-size:14px; color:#999;}
.tjpl-div{ height:40px;margin-top:10px;}
.tjpl-div input{ border:none; background:#ed7621;font-size:16px; color:#fff; font-weight:normal;font-family:"微软雅黑"; padding:6px 10px; float:right; cursor:pointer;}

/*==最新评论==*/
.pl-hf-div{ height:auto;}
.pl-hf-div h3{background:#f3f3f3; padding-left:20px; line-height:40px;font-size:20px; color:#666;font-family:"微软雅黑";}

.pl-hf-con{padding-bottom:20px;}
.hf-a{ height:auto; padding:20px 0;border-bottom:1px solid #ddd;}
.hf-a-l{ width:50px; height:50px; float:left;}
.hf-a-l a img{ display:inline-block;width:50px; height:50px;border-radius:50px;}
.hf-a-r{ float:right;width:620px; height:auto;}
.hf-a-r p{ font-size:14px; line-height:24px;}
.hf-a-r h3{ background:none; padding:0; line-height:20px; padding-bottom:8px;}
.hf-a-r h3 a{ font-size:16px; color:#ed7621;}
.hf-a-r h3 a:hover{color:#df6812;}
.hf-a-r .hf-z-div{ padding-top:10px;}
.hf-a-r .hf-z-div p{color:#999;}
.hf-a-r .hf-z-div .hf-z{ float:right; margin-top:4px;}
.hf-a-r .hf-z-div .hf-z a{ height:14px; line-height:14px;color:#999;display:inline-block;margin-left:40px;padding-left:18px;}
.hf-a-r .hf-z-div .hf-z a:hover{ color:#333;background-position:0 -14px;}
.hf-a-r .hf-z-div .hf-z .r-a2{ background:url(../images/pl.png) no-repeat;}
.hf-a-r .hf-z-div .hf-z .r-a3{ background:url(../images/zan.png) no-repeat;}
.hf-input-div{ padding-top:15px;}
.hf-input-div .hf-div-in{ width:530px; height:38px; border:1px solid #dcdcdc; background:#fff; padding:0 10px;font-family: "微软雅黑"; color:#999;font-size:14px;}
.hf-input-div .gl-hf-in{ width:440px;}
.hf-input-div .hf-div-btn{ width:70px; height:38px; float:right;background:#e0e0e0; border:none;font-family: "微软雅黑"; color:#999; cursor:pointer;font-weight:normal; font-size:14px;}
.fg-hf-div{ border:1px dotted #f39a00; background:#fff; padding:10px 20px; color:#666; font-size:14px; margin:10px 0; position:relative;}
.fg-hf-div .span-r-t{ position:absolute; right:5px; top:0px;}
.fg-hf-di-l{ float:left; width:30px; height:30px;}
.fg-hf-di-l a img{ display:inline-block;width:30px; height:30px;border-radius:50px;}
.fg-hf-di-r{ float:right; width:530px; height:auto; line-height:24px;}
.fg-hf-di-r a{color:#ed7621;}
.fg-hf-di-r a:hover{color:#df6812;}
.xsqb-con{ height:40px; margin-top:8px;}
.xsqb-con a{ padding:2px 10px; font-size:14px; color:#666; background:#f3f3f3; float:right;}


/*==账号设置==*/
.zh-sz-a a{ display:block; height:47px;float:left;color:#555; margin-right:30px;}
.zh-sz-a .thisa{border-bottom:3px solid #ed7621;}
.zh-sz-a a:hover{ border-bottom:3px solid #ed7621;}
.table-in{ margin-top:20px;}
.table-in tr td{ padding:10px 4px 10px 0;}
.table-in tr td input{ width:250px; height:40px; border:1px solid #ddd; line-height:40px; padding-left:10px;font-family: "微软雅黑"; color:#999;font-weight:normal; font-size:14px;}
.table-in tr td .btn{ border:none; background:#ed7621;color:#fff; cursor:pointer;font-size:18px;}
.table-in tr td .btn:hover{ background:#df6812;}




.gl-tab tr td{padding:20px 60px 20px 0; color:#999;}
.gl-tab tr td a{ padding:6px 10px; color:#fff; background:#ed7621;}
.gl-tab tr td a:hover{background:#df6812;}

.gl-tab tr td .this-span{ color:#333;}
.gl-tab tr td .this-a-sq{ background:none; color:#333;}
.gl-tab tr td .this-a-sq:hover{ background:none; text-decoration:underline;}
.span-sp{padding-bottom:8px;}

/*==个人中心菜单==*/
.mainbody-div{ position:relative;}
.gr-zx-tx{ margin-bottom:10px;}
.gr-zx-tx img{ display:inline-block;width:80px; height:80px; margin-left:12px;border:3px solid #fff;border-radius:50px;}
.gr-zx-nav{ position:absolute; left:-130px;}
.gr-zx-nav ul{ width:110px;border:1px solid #ddd; border-bottom:none;}
.gr-zx-nav ul li{ border-bottom:1px solid #ddd;}
.gr-zx-nav ul li a{ display:block; width:110px; height:40px; text-align:center;line-height:40px; background:#fff; font-size:16px; color:#666;}
.gr-zx-nav ul li a:hover{ color:#ed7621;}
.gr-zx-nav ul li .this-a{ color:#ed7621;}




.tx-div{ height:auto;}
.tx-div dl{ width:100px;}
.tx-div dl dt{ width:100px; height:100px;}
.tx-div dl dt img{display:inline-block;width:100px; height:100px;border-radius:50px;}
.tx-div dl dd{ width:100px; height:36px;line-height:36px;text-align:center;}
.tx-div dl dd a{ color:#666; }
.tx-div dl dd a:hover{ color:#333;}












.morediv a{ display:block; margin:0 auto; width:auto; height:44px; background:#f5f5f5; text-align:center; line-height:44px; color:#999;}
.morediv a:hover{ background:#e0e0e0;}
.morecommentdiv a{ display:block; margin:0 auto; width:auto; height:44px; background:#fff; text-align:center; line-height:44px; color:#999;}

.sousuo-tit{width:690px;padding:0 30px; background:#fff; margin-bottom:20px;}
.sousuo-tit h2{height:50px;line-height:50px;margin-bottom:3px;font-size:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; font-weight:normal;}
.sousuo-tit h2 span{ color:#ed7621;}



/*==右边内容==*/
.main-div-r{width:320px;float:right;}

/*==大数据快播==*/
.r-div-k{ width:320px;background:#fff; padding-bottom:20px; margin-bottom:20px;}
/*.r-div-k h3{ height:40px; line-height:40px;font-size:18px; padding:0 20px;color:#555;background:#fff; border-bottom:1px solid #ccc;}
.r-div-k h3 a:hover{color:#df6812;}
.r-div-k .data-con{padding:0 20px; height:400px; overflow:auto;}
.data-con-p{ font-size:14px;padding:16px 0; border-bottom:1px dashed #dcdcdc;}
.data-con-p a{ color:#666;}
.data-con-p a:hover{ color:#000;}
.data-con-p span{ display:inline-block; padding-top:12px;color:#999;}*/
.r-div-k{ width:320px;background:#fff; padding-bottom:20px; margin-bottom:20px;}
.r-div-k h3{ height:40px; line-height:40px;font-size:18px; padding:0 20px;color:#555;background:#fff;/*修改背景*/ border-bottom:1px solid #ccc;}
.r-div-k h3 span{display:block;width:5px;height:20px;float:left;background:#f39900;margin-top:18px;margin-right:10px;}
.r-div-k h3 a{font-size:12px;float:right;text-transform:capitalize;color:#ed7621;}
.r-div-k h3 a:hover{color:#febe73;}
.r-div-k .data-con{padding:0 20px; height:400px; overflow:auto;/*overflow-y:hidden;*/}
.data-con-p{ font-size:14px;padding:0 0 1.5rem 1rem; position: relative; }
.data-con-p a{ color:#666;}
.data-con-p a:hover{ color:#f39900;/*修改颜色*/}
.data-con-p span{ display:inline-block;color:#999;}
.data-con-pspan{font-size:12px;margin:20px;}
.data-con .spanion{transition: opacity 0.5s ease-in 0s;} 
.spanionspan{line-height:30px;}

.data-conspaninner{    background-color: #febe73; border-radius: 50%;  display: block;  height: 0.4rem; width: 0.4rem;}
.data-conspan{ background-color: #fff;display: block; left: 0rem; padding: 0.05rem 0; position: absolute; width: 0.5rem; z-index: 2}
.data-con{margin-top:5px;}
.data-con-p:before{background-color: #dcdcdc; bottom: 0;content: "";left: 0.15rem; position: absolute;top: 0; width: 0.1rem;}
.data-con-p:first-child:before{top: 0.35rem;}
.data-con-p:last-child:before{display: none;}
.data-con-p:last-child:after{background-color: #dcdcdc;content: "";height: 0.5rem;left: 0.15rem;position: absolute;top: 0;width: 0.1rem;}

/*==活动推荐==*/
.hd-tj-ul{ width:280px; margin:10px auto 0;}
.hd-tj-ul li{ height:36px;line-height:36px; border-bottom:1px dashed #dcdcdc; overflow:hidden;font-size:14px;}
.hd-tj-ul li a{ display:inline-block; float:left;width:190px; overflow:hidden;color:#666;}
.hd-tj-ul li a:hover{ color:#f39900;}
.hd-tj-ul li span{display:inline-block;float:right;color:#999;}


/*==不容错过的资讯==*/
/*.zx-div-dl{ width:260px; height:auto;margin:6px auto 0;}
.zx-div-dl dl{ height:60px;padding:15px 0;border-bottom:1px dashed #dcdcdc;}
.zx-div-dl dl dt{ float:left;}
.zx-div-dl dl dt img{ display:inline-block; width:90px; height:60px;}
.zx-div-dl dl dd{ width:160px; height:60px; line-height:30px; overflow:hidden;float:right; font-size:14px;}
.zx-div-dl dl dd a{ color:#555;}
.zx-div-dl dl dd a:hover{ color:#000;}
.qy-div-dl dl dt img{border-radius:50px;width:60px; height:60px;}
.qy-div-dl dl dd{ width:190px; height:60px; line-height:60px; overflow:hidden;float:right;}*/

/*==不容错过的资讯==*/
.zx-div-dl{ width:280px; height:auto;margin:6px auto 0;}
.zx-div-dl dl{ height:60px;padding:15px 0;border-bottom:1px dashed #dcdcdc;}
.zx-div-dl dl dt{ float:left;}
.zx-div-dl dl dt img{ display:inline-block; width:260px;}
.zx-div-dl dl dd{ width:160px; float:right;line-height:24px;font-size:14px;}
.zx-div-dl dl dd a{ color:#555;}
.zx-div-dl dl dd a:hover{ color:#f39900;}

.zx-div-dl li{padding:8px 0;border-bottom:1px dashed #dcdcdc;overflow: hidden; text-overflow:clip;white-space:nowrap;}
.zx-div-dl li a{line-height:24px;font-size:14px;color:#555;}
.zx-div-dl li a:hover{ color:#f39900;}
.zx-div-dl li img{ display:inline-block; width:280px; margin:6px 0 8px 0; display:none;}




.qy-div-dl dl dt img{border-radius:50px;width:59px; height:59px; border:1px solid #ddd;}
.qy-div-dl dl dd{ width:210px; height:60px; line-height:60px; overflow:hidden;float:right;}








.rm-con-div{ margin-top:10px; padding:0 20px;}
.rm-con-div ul li{ height:36px;line-height:36px; border-bottom:1px dashed #dcdcdc; overflow:hidden;font-size:14px;}
.rm-con-div ul li .span{padding-right:20px;}
.rm-con-div ul li a{ color:#555; }
.rm-con-div ul li a:hover{color:#f39900}

.rw-con-div{width:280px;margin:20px auto 0;}
.xt-con-div{ width:280px; margin:20px auto 0;position:relative;}
.xt-con-div a img{ display:inline-block; width:280px;}
.xt-con-div .h3{ padding:0 2%; width:96%; height:40px;line-height:40px;background:rgba(0,0,0,0.4); position:absolute; bottom:0;}
.xt-con-div .h3 a{ font-size:16px; color:#fff; font-weight:normal;font-family:"微软雅黑";float:left;}

.div-g-r{ margin-bottom:20px; width:320px; height:100px; overflow:hidden;}
.head-g-div{width:1100px; height:auto;margin:7px auto;}
.head-g-div a img{max-width:100%;vertical-align: middle;}
.main-l-g-div{width:750px;height:100px;margin-bottom:20px;}

.zjtj-div{ width:300px; height:auto;margin:10px auto 0;}
.zjtj-div dl{ width:60px; height:auto; float:left; margin:10px 20px 0; display:inline;}
.zjtj-div dl dt{ width:60px; height:60px;}
.zjtj-div dl dt img{ display:inline-block;border-radius:50px;width:60px; height:60px;}
.zjtj-div dl dd{ width:60px; height:30px; text-align:center; line-height:30px;}
.zjtj-div dl dd a{ font-size:14px; color:#666;}

/*==我的收藏==*/

.wz-div h2 .qxsc-a{ display:inline-block; margin-top:8px;padding:0 10px;height:24px; line-height:24px;float:right;font-size:12px; color:#fff;background:#ed7621;}
.wz-div h2 .qxsc-a:hover{ color:#fff; text-decoration:underline;}
.wz-div h2 .qx-tit-a{ display:inline-block; float:left; width:520px; overflow:hidden;}

.message-div{ float:none; width:1100px; margin-top:20px;}
.message-div .sousuo-tit{ width:1040px;}
.message-con{ background:#fff;padding:20px 30px;}
.message-con ul li{ font-size:14px;line-height:42px; border-bottom:1px dashed #ddd; color:#666;}


/*==底部菜单导航==*/
.f-nav-div-l{ width:180px; margin-top:0px;}
.f-nav-div ul li{ border-bottom:1px solid #ddd;width: 175px;}
.f-nav-div ul li a{ display:block; width:155px; height:40px; background:#fff; padding-left:20px;line-height:40px;font-size:16px; color:#666;}
.f-nav-div ul li a:hover{ color:#ed7621;}
.f-nav-div ul li .this{ color:#ed7621;}


.f-nav-div-r{ width:920px;margin-top:20px;}
.f-nav-con{ background:#fff; height:auto;}
.f-nav-con h3{ padding-left:20px;height:46px; line-height:46px; font-size:20px;background:#f6f6f6; color:#444;border-bottom:1px solid #ccc;}
.f-nav-con-div{ padding:20px; font-size:14px; color:#666; line-height:26px;}




/*==底部===*/
.footer{ width:100%; padding:20px 0; background:#fff; text-align:center;}
.footer p{font-size:16px;color:#555; line-height:36px;}
.footer p a{ color:#555;}
.footer p a:hover{ color:#ed7621;}


/*==========================================以下新增样式=======================================================*/

/*===序号样式===*/
.zx-div-dl li span{ display:inline-block; width:21px; height:21px;border:1px solid #f39900;color:#f39900; margin-right:10px;border-radius:50px; font-size:14px;text-align:center; line-height:22px;}
.zx-div-dl li .span{ background:#f39900;color:#fff;}
.r-div-k h3{ height:52px; line-height:52px; width:280px; margin:0 auto; padding:0; font-size:20px; color:#333; border-bottom:1px solid #999;}


/*===个人头像+简介===*/

.hi{ position:relative; margin-top:60px; width:auto;height:auto; background:#fff; border:1px solid #f39900;}
.hi .imgtx{width:110px;position:absolute; background:url(../images/txbg1.png) no-repeat;top:-59px;left:-1px;}
.hi .imgtx img{display:inline-block;width:100px; height:100px; border:4px solid #fff;border-radius:54px; margin-left:1px; margin-top:1px;}
.hi h3{position:absolute;top:14px;left:120px;font-size:22px;color:#333;}

.hi p{line-height:24px; font-size:14px;color:#333;margin:60px 30px 20px;}
.hi p span{ color:#f39900; font-weight:bold;}

/*===导读===*/
.daodu{ border:1px dashed #ffce9c; padding:10px; margin:20px 0; background:#fffbf6;}
.daodu p{ line-height:24px; color:#888; font-size:14px;margin: 0;}
.daodu p span{color:#ed7621;}

/*===加友情链接底部内容===*/
.footer{ background:#fff; width:100%; height:auto; padding:20px 0;}
.footerPhone{ background:#fff; width:1100px;margin:0 auto; height:auto; padding:20px 0;}
.footercon{width:1100px; height:auto; margin:0 auto;}
.yqlj{border-bottom:1px solid #CCC; padding-bottom:6px;}
.yqlj h3{font-size:18px; color:#555; font-weight:normal;font-family:"微软雅黑"; text-align:left; padding-bottom:14px;}
.yqlja a{ display:inline-block; float:left;margin:0 20px 10px 0;font-size:14px; color:#888;font-family:"微软雅黑";}
.yqlja a:hover{ color:#f39900;}
.yqlj-b{ margin:10px 0;}
.yqlj-b .yqlj-b-nav{ float:left;font-size:14px;}
.yqlj-b .yqlj-b-copy{ float:right; color:#555;font-size:14px;}
.yqljlogo span,.yqljlogo a{ display:inline-block; float:left;}
.yqljlogo span{font-size:14px; color:#555; margin-top:14px;}
.yqljlogo a{height:50px;margin-right:30px;}
.yqljlogo a img{border: 1px solid #ddd;display: inline-block;width: 100%;}

/*===========================================================会议专题====================================================================*/
.zt-dabanner{position:relative;}
.zt-banneranniu{position:absolute;right:300px;bottom:100px;}
.zt-a-div,.zt-c-div,.zt-e-div{ background:#fff; padding-bottom:50px;}
.zt-ajiantou{float:left;padding-top:480px;}
.zt-ajiantouzhuo{float:right;padding-top:480px;}
.zt-banner,.zt-a{ width:100%; height:auto;}
.zt-banner img{ display:inline-block; width:100%;}
.zt-con{ width:1100px; margin:0 auto;}
.zt-tit{ text-align:center;padding:50px 0;}
.zt-lianxifangshi{ text-align:center;padding:20px 0;}
.zt-baoming{ text-align:center;padding:0 0 10px;}
.zt-con{ height:auto;}
.zt-con p{ font-size:18px; line-height:36px;}
.zt-b-con dl{ width:200px; height:auto; margin:0 37px 50px; float:left;display:inline-block;}
.zt-b-con dl dt img{ display:inline-block; width:200px; height:200px; border-radius:100px;}
.zt-b-con dl dd{ font-size:16px; color:#333; text-align:center;}
.zt-b-con dl dd h3{font-size:26px; font-weight:normal; line-height:60px;}
.zt-b-conul{height:40px;width:180px;margin:0 auto;}
.zt-b-conul ul li{float:left;display:block;height:20px;width:20px;background:#fff;border-radius:10px;border:1px #9d9d9d solid;margin:0 10px; text-align:center;}
.zt-b-conul ul li:hover{background:#f39a00;}
.zt-b-conul ul li a{line-height:20px;font-size:18px;color:#9d9d9d;width:20px;height:20px;display:block;}
.zt-b-conul ul li a:hover{color:#fff;}

.zt-c-con dl{width:240px; height:auto; margin:0 17px 50px; float:left;display:inline-block;min-height: 220px;}
.zt-c-con dl dt{ width:240px;}
.zt-c-con dl dt img{ display:inline-block; width:100%;height: 97px;}
.zt-c-con dl dd{ font-size:16px;text-align:left; margin-top:10px;line-height:26px;}
.zt-c-con dl dd a{ color:#333;}
.zt-c-con dl dd a:hover{ color:#f39a00;}

.zt-e-con{ background:#fff; border:1px solid #f39a00; border-radius:6px 6px 0 0;}
.left-zhc{ width:377px; float:left;}
.right-zhc{ width:720px;border-left:1px solid #feb83f;float:left;}

.zt-e-con .top-ul{ height:60px;background:#f39a00;border-radius:6px 0 0 0;}
.zt-e-con .top-ul li{ float:left;}
.zt-e-con .top-ul li a{ display:inline-block;height:60px; line-height:60px; font-size:24px; color:#fff;}
.zt-e-con .top-ullefta li a{ width:377px;text-align:center;}
.zt-e-con .top-ulrighta{border-radius:6 6px 0 0;}
.zt-e-con .top-ulrighta li a{ width:720px;text-align:center;}

/*===========================================================专题页面手机端样式============================================================*/
.zt-bannerPhone,.zt-aPhone{ width:1100px;margin: 0 auto;height:auto;}
.zt-bannerPhone img{ display:inline-block; width:1100px;}


/*.zt-e-con .top-ul li a span{ position:absolute;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #fff0d6;bottom:0; left:50%; margin-left:-10px;}*/
.top-ul-con-nav{ height:50px; background:#fff0d6;}
.top-ul-con-nav li a{ display:block; float:left; width:144px; height:50px; line-height:50px;font-size:16px; color:#888; text-align:center; background:#fff0d6;}
.top-ul-con-nav li a:hover{ color:#f39a00; border-bottom:2px solid #f39a00;}
.top-ul-con-nav li .this{ color:#f39a00; border-bottom:2px solid #f39a00;}

.top-ul-con-a-ul{ padding:16px 0;}
.top-ul-con-a-ul li{ line-height:46px; font-size:16px; color:#333; padding-left:20px;}
.top-ul-con-a-ul li span{ padding-right:20px; color:#f39a00;}

.fb-logo-div{ margin-bottom:40px;}
.fb-logo-div p{ width:120px;float:left; font-size:18px; color:#333;}
.fb-logo-div a{ display:inline-block;float:left; width:110px; margin-right:12px;cursor:default;}
.fb-logo-div a img{ display:inline-block;width:100%; border:1px solid #ddd;}


.f-ewm-div-con{ margin:50px auto;}
.f-ewm-div-l,.f-ewm-div-c,.f-ewm-div-cr,f-ewm-div-r{font-size:14px; color:#888; line-height:32px; float:left; margin-right:68px;}
.f-ewm-div-cr dl{ width:145px;}
.f-ewm-div-cr dl dd{width:145px;font-size:14px; color:#333; line-height:32px;}

/*=============排行榜============*/
.Number_banner{ width:100%;height:auto;text-align:center; position:relative;}
.Number_banner_a{ width:1100px; position:absolute; top:60%;left:50%; margin-left:-550px;}
.slogan{ margin-top:80px;font-size:56px; color:#fd8304; font-weight:normal;font-family:"汉仪综艺体简";}
.slogan span{color:#a1a1a1;}
.N_b_ul{ text-align:center;}
/*.N_b_ul a{ display:block;float:left;width:80px; height:80px; margin:10px; display:inline-block;border-radius:45px; border:5px solid #ddd; text-align:center;line-height:80px; color:#555;}*/
.N_b_ul a{ width:70px; height:80px; margin:10px;  text-align:center;line-height:80px; color:#555;}
.N_b_ul .a1{background:#e6e4e4;}
.N_b_ul .a2{background:#98bea9;}
.N_b_ul .a3{background:#bfbdbd;}
.N_b_ul .a4{background:#98bea9;}
.N_b_ul .a5{background:#bfbfbf;}
.N_b_ul .a6{background:#fe6a4d;}
.N_b_ul .a7{background:#bfbfbf;}
.N_b_ul .a8{background:#bfbfbf;}
.N_b_ul .a9{background:#fd8304;}
.N_b_ul .a10{background:#6491b0;}
.N_b_ul .a11{background:#fe6a4d;}
.N_b_ul .a12{background:#bfbfbf;}
.N_b_ul .a13{background:#fd8304;}
.N_b_ul .a14{background:#9cc9ee;}
.N_b_ul .a15{background:#bfbfbf;}
.N_b_ul .a16{background:#6491b0;}
.N_b_ul .a17{background:#e2cead;}
.N_b_ul .a18{background:#bfbfbf;}
.N_b_ul .a19{background:#98bea9;}

/*.N_b_ul .this{background:#f39900;border-color:#f39900;color:#fff;}
.N_b_ul a:hover{background:#f39300;border-color:#f39300;color:#fff;}*/
.N_b_ul a:hover{color:#f39300;}

.N_b_ul a .nav_banner{display:none;}
.N_b_ul a .nav_img{display:inline-block;margin-top:14px;}



/*====通讯===*/
.Number_a{width:344px; float:left;height:auto;border:1px solid #f39900; margin-bottom:20px;}
.Number_a_h3{padding-left:14px;height:42px; line-height:42px; color:#000;font-size:20px;background:#f39300;}
.Number_a_h3 img{margin-bottom:-3px;}
.Number_a_con{width:330px;height:auto;border:1px solid #eee; margin:6px auto;}
.Number_a_con_h3{margin:1px;text-align:center;height:38px; line-height:38px; color:#f39900;font-size:16px;background:#eee;}
.Number_a_con_b_ul{ padding:0 10px;}
.Number_a_con_b_ul li{font-size:12px;min-height:32px;border-bottom:1px dashed #ddd;color:#666; position:relative;}
.Number_a_con_b_ul .tit_li{border-bottom:none; line-height:38px; font-size:14px; font-weight:bold;}
.Number_a_con_b_ul .tit_li .span_l{ padding-right:20px;}
.Number_a_con_b_ul .tit_li .span_r{ float:right;}
.Number_a_con_b_ul .b_a_li{ border-bottom:none; line-height:30px; text-align:right;}
.Number_a_con_b_ul .b_a_li .b_a{ float:right;color:#f39900;margin-top:3px;}
.Number_a_con_b_ul .b_a_li .b_a:hover{ text-decoration:underline;}
.Number_a_con_b_ul li span,.Number_a_con_b_ul li a{float:left;}
.Number_a_con_b_ul li .spana{ width:16px; height:16px;text-align:center;margin-left:6px;margin-right:20px;line-height:16px;background:#ddd; margin-top:6px;clear:both;}
.Number_a_con_b_ul li .spanaa{background:#f39900;color:#fff;}
.Number_a_con_b_ul li .lia{ height:32px; color:#666; line-height:28px;margin-right:10px;cursor:default;}
/*.Number_a_con_b_ul li .lia:hover{ color:#333;}*/
.Number_a_con_b_ul li .spanb{width:16px; height:16px;text-align:center;position:absolute;left:180px;line-height:16px;background:#ddd;color:#fff;margin-top:8px;border-radius:2px;cursor:default;}
.Number_a_con_b_ul li .spanc{ float:right;line-height:28px;}
.Number_a_con_b_ul_div{height:140px;margin-top:23px; margin-bottom:8px;clear:both; overflow:hidden;text-align:left;}
.Number_a_con_b_ul_div img{display:inline-block;width:100px;float:left; margin-right:10px;height:72px;background:#fff;border:1px solid #eee;}
.Number_a_con_b_ul_div .txtspan{ float:none;line-height:20px;}

/*====今日上榜===*/
.Number_b_con{ width:324px;height:auto;margin:10px;}
.Number_b_con_t{ width:324px;height:300px;}
.Number_b_con_t_l{float:left;width:135px;height:300px;}
.Number_b_con_t_l_t{width:135px;height:145px;margin-bottom:10px;}
.Number_b_con_t_l_b{width:135px;height:145px;}
.Number_b_con_t_r{float:right;width:180px;height:300px;}
.Number_b_con_c{ width:324px;height:193px;margin:13px 0 14px;}
.Number_b_con_b{ width:324px;height:190px;}
.Number_b_con_b_l{float:left;width:180px;height:190px;}
.Number_b_con_b_r{float:right;width:135px;height:190px;}
.Number_p{ position:relative;}
.Number_p p{ position:absolute; bottom:0; width:100%;overflow:hidden; height:26px; line-height:26px; background:rgba(0,0,0,0.5);}
.Number_p p a{padding:0 8px;font-size:12px;color:#fff;}
.Number_p p a:hover{ text-decoration:underline;}

/*====全部榜单===*/
.Number_c{ padding:0;}
.Number_c li{border-bottom:none;height:44px;line-height:44px;font-size:12px;padding:0 15px;}
.Number_c .li_j{ background:#f39300;font-size:20px;color: #000;clear: both;}
.Number_c li a{color:#f39300; width:33%;font-size:13px;cursor: pointer;}
.Number_c li a:hover{ text-decoration:underline;}
.Number_c li .morea{float:right; padding-right:0px;}
.Number_c li .spanc1{color:#333; padding-right:20px;}
.Number_c .b_a_li{ height:50px; line-height:50px;}
.Number_c .b_a_li .b_a{ margin-top:0;padding:0;}
.Number_ab li a{color:#f39300; width:50%;font-size:13px;}

/*====零售===*/
.N_cona_f{float:left;margin:6px 12px;display:inline-block;}
.N_cona_fa{float:left;margin:6px 10px;display:inline-block;}

/*================会议专题--修改、议程、媒体两部分==================*/

/*====议程部分====*/
.right-zhc{ width:100%;border-left:none;float:none;}
.zt-e-con .top-ulrighta li a{ width:auto;padding-left:100px;}
.top-ul-con-a-ul li{padding:0 20px;}
.top-ul-con-a-ul li .contentp{display:none;color:#888;font-size:14px;line-height:24px;border-top:1px solid #ddd;padding:6px 0;}

/*====媒体部分====*/
.fb-logo-div a{margin-bottom:16px;}
.fb-logo-div{margin-bottom:22px;}

/*====2016.30.14专题新增样式====*/
.zt-b-con dl{min-height:310px;}
.top-ula{ height:6px;background:#f39a00;border-radius:6px 0 0 0;}

/*===2016.3.23新增===*/
.common-header-div{ position:relative;padding-top:3px;}
.t-ul{ position:absolute;right:0;}
.t-ul li{ float:left;font-size:12px; color:#000;}
.t-ul li a{ color:#000;font-size:14px;}
.t-ul li a:hover{ color:#000;}
.h-nav{min-height:22px;margin-top:15px;}
.h-nav span{ font-size:14px;margin-right:0px;display:inline-block; float:left;}
.s-a{ width:280px;margin:15px auto 0;min-height:100px;}
.s-a a{ display:inline-block; font-size:14px;float:left;padding:6px 10px; color:#555;border:1px dashed #dcdcdc; margin:5px 10px 5px 0;}
.s-a a:hover{color:#ed7621;}
.logo-center{text-align:center;padding-top:15%;}
.s-index{ float:none;width:580px;margin:10px auto;}
.hot-s,.hot-s a{ color:#000; font-size:14px;}
.hot-s a{margin-right:24px;}
.hot-s a:hover{ text-decoration:underline;}
.search-icon-index{padding-left:30px;}
.s-index button{width:100px;}
.s-index input{width:100px;}
.footer-index{position:absolute;width:100%;text-align:center;color:#000;font-size:14px;bottom:0;margin-bottom: 10px;}
.yqlj h3{ font-weight:bold; font-size:16px;}

/*====中国通讯专题新增样式====*/
.zt-b-con dl{min-height:310px;}
.top-ul-con-a table{ width:96%;margin:10px auto;}
.top-ul-con-a table tr td{ padding:8px 0;font-size: 16px;color: #333;}

.zt-e-con .top-ul{height:6px;}
.zt-e-con .top-ul li a{height:6px;line-height:6px;}

/*====友盟====*/
.zt-e-con .ymtopul{ width:100%;height:46px;}
.zt-e-con .ymtopul li a{position: relative;text-align:center;height:46px;line-height:46px;font-size:14px; padding:0 26px;margin:0;color:#fff;}
.zt-e-con .ymtopul li a span{position:absolute;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #fff;bottom:0;left: 50%;margin-left: -8px;}
.zt-e-con .ymtopul1{ width:100%;height:46px;}
.zt-e-con .ymtopul1 li a{position: relative;text-align:center;height:46px;line-height:46px;font-size:16px; padding:0 194px;margin:0;color:#fff;}
.zt-e-con .ymtopul1 li a span{position:absolute;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #fff;bottom:0;left: 50%;margin-left: -8px;}




.top-ul-con-a .time-tab{ width:100%;margin:0;}
.top-ul-con-a .time-tab tr td{ padding:15px;font-size: 16px;color: #333;border-bottom:1px solid #eee;border-left:1px solid #eee;}
.hd_bottom h3 span span{display:block;width:5px;height:20px;float:left;background:#f39900;margin-top:13px;margin-right:10px;}