@charset "utf-8";
/* CSS Document */

.zjxq_mzhuo{width:1100px;}
.zjxq_m2{width:1100px;height:1450px;}
.zjxq_m2_inner{width:1040px;}
.zjxq_m2top{width:1040px;}
.zjxq_m2z1a{width:1000px;}
.zjxq_m2z1aneir{margin-right:80px;}
.zjxq_m2z1a111{wid}
.zjxq_main{height:1530px;}